@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.padding-left31{
  padding: 0 0 0 31px;
}
.padding-right31{
  padding: 0 31px 0 0;
}

.title {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 120%;
}

.grey{
  color: #908D8B;
}

.background-white{
  background: #ffffff;
}
.background-dark {
  background: #42413c;
}

.background-brown {
  background: #B09A81;
}

.color-dark {
  color: #42413c;
}

.white {
  color: white;
}

.orange {
  color: #fe8a02;
}

.margin-right30 {
  margin-right: 30px;
}

.black {
  color: #2a2626;
}

.question-background {
  position: relative;
}

.question-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  padding-bottom: 114px;
}

.about__header {
  width: 1352px;
  height: 504px;
  padding-left: 242px;
  padding-top: 66px;
  position: relative;
  margin: 0 auto;
}

.about__title {
  width: 625px;
  margin-top: 55px;
}

.about__icon {
  position: absolute;
  height: 525px;
  top: 10px;
  right: -50px;
  z-index: -100;
}

.about__info {
  width: 1110px;
  margin: 0 auto;
}

.row-item {
  display: flex;
}

.card-number-font {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
}

.card-header-font {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 120%;
}

.text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.row-item__text {
  flex: 1 1 0;
}

.about__button {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  left: 570px;
  width: 110px;
  height: 25px;
  margin-top: 35px;
  padding: 12px 24px 12px 24px;
  background-color: #fe8a02;
  color: white;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}

.video {
  padding-top: 100px;
}

.video__question {
  text-align: center;
}

.video__name {
  text-align: center;
  padding: 38px 0 35px 0;
}

.video__player {
  text-align: center;
  filter: drop-shadow(0 0 0.75rem #fe8a02);
}

.q-cards {
  margin-top: -100px;
  padding-bottom: 270px;
}

.q-cards__row {
  position: relative;
  top: 185px;
  margin: 0 auto;
}

.q-cards__column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.item-about {
  max-width: 350px;
  background-color: #f5f4f0;
  margin: 15px;
}

.main-item {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 120%;
}

.item-about__number {
  padding: 24px 0 24px 24px;
}

.item-about__name {
  padding: 0 24px 4px 24px;
}

.item-about__definition {
  padding: 0 24px 4px 24px;
}


.effect {

}

.effect-header {
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 101px;
  margin: 0 auto;
}

.effect-header__image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.effect-header-title {

}

.effect-header-title__name {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  font-style: normal;

  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
}

.effect-header-title__header {
  padding: 8px 0 24px 0;
  font-family: Neucha, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0;
  text-align: left;
}

.effect-header-title__description {
  font-family: Neucha, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0;
  text-align: left;
}

.effect-about {
  max-width: 1110px;
  margin: auto;
  padding: 72px 0 100px 0;
  /*padding-bottom: 100px;*/
}

.effect__how {
  padding: 4px 0 4px 8px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
}

.how-item {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.how-item__about {
  flex: 1 1 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;

}